body {
    height: 100vh;
    margin: 0 auto;
    font-family: 'Helvetica', Verdana, Geneva, Tahoma, sans-serif;
    background: white;
}

.footer-info {
    display: flex;
    flex-flow: row;
    background: #444;
    padding: 2em;
    color: white;
}

.copyright {
    padding: .5em;
    color: white;
    background: #2d2d2d;
    margin: 0;
    text-align: center;
}

.forms {
    text-align: center;
    width: 50%;
    background-color: #003f5c;
    color: white;
    margin: 10% auto;
    padding: 2em;
    border: 5px solid orange;
}

.form-title {
    font-weight: bold;
    font-size: 2rem;
}

a {
    text-decoration: none;
    color: inherit;
}

h2 {
    font-size: 2rem;
    font-weight: bold;
    color: white;
    text-align: left;
    text-transform: uppercase;
    margin-left: 2em;
}

.nav-container {
    background-color: #003f5c;
    /* Blue color */
    padding-block: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 5px;
    margin: 0 10px;
    transition: color 0.3s;
}

nav a:hover {
    color: #ff8c00;
}

.logo {
    width: 300px;
}

.search-container {
    display: flex;
    justify-content: center;
}

.hero-container {
    position: relative;
    width: 100%;
    max-height: 550px;
    /* Adjust the height as needed */
    overflow: hidden;
}

.hero-image {
    width: 100%;
    height: auto;
    display: block;
    /* filter: blur(2px); */
}

.hero-content {
    position: absolute;
    top: 20%;
    left: 5%;
    color: #fff;
}

.description {
    font-size: 1em;
    max-width: 400px;
    /* Adjust the width as needed */
}

.current-year {
    font-size: 3em;
    color: #bd5192;
    font-weight: bold;
}

h1 {
    font-size: 3.5rem;
    margin: 0;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    /* Adjust the alpha value to control the darkness */
}

.blue-gradient {
    background: rgb(0, 63, 92);
    background: linear-gradient(45deg, rgba(0, 63, 92, 1) 0%, rgba(3, 88, 118, 1) 80%);
}

.tracks {
    display: flex;
    flex-flow: row;
    align-items: center;
    margin-inline: 4em;
}

.track-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.track-right {
    display: flex;
    color: white;
    align-items: center;
    margin-left: auto;
    gap: 3em;
}

.track-left {
    display: flex;
    flex-flow: column;
    color: white;
    margin-right: auto;
}

.track-number {
    font-size: 4rem;
    font-weight: bold;
    color: #ffa600;
    margin-right: 15px;
}

.track-date {
    color: #bd5192;
}

.track-room {
    font-size: 2.5rem;
    font-weight: bold;
}

.track-title {
    font-size: 1.75rem;
    color: #ff6461;
}

.track-description {
    font-size: 1rem;
}

hr {
    color: #bd5192;
    width: 90%;
}

.local-container {
    display: flex;
    flex-flow: row;
    padding-inline: 3em;
    padding-block: 2em;
    gap: 2em;
}

.local-title {
    position: relative;
    width: 100%;
    height: 150px;
    color: white;
    text-align: center;
    overflow: hidden;
}

.local-title h1 {
    position: absolute;
    top: 20%;
    left: 40%;
}

.local-title img {
    position: relative;
    top: -170%;
}

.local-container {
    font-size: 1.5rem;
}

.address {
    margin-top: -.5em
}

.local-img {
    border: 10px solid orange;
}

.description {
    font-size: 1.3rem;
}

.local-days {
    color: purple;
    margin-right: 4em;
}

.local-container {
    display: flex;
    flex-flow: row;
}

.contacts-phone,
.contacts-mail {
    display: flex;
    align-items: center;
    gap: 20px;
    color: orange;
}

.local-times {
    color: purple;
}

.articles-wrapper {
    display: flex;
    flex-flow: row;
}

.articles {
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding: 2em;
    gap: 2em;
    background: white;
    width: 100%;
}

#searchResults {
    display: flex;
    flex-flow: column;
    justify-content: center;
    gap: 2em;
    width: 100%;
}

.article-container {
    display: flex;
    flex-flow: column;
}

.article-title {
    color: rgb(0, 63, 92);
    font-size: 1.5rem;
    font-weight: bold;
}

.article-title::first-letter {
    text-transform: capitalize;
}

.article-author {
    color: rgb(0, 63, 92);
    font-size: 1.1rem;
}

.article-time {
    color: lightslategray;
}

.articles-h1 {
    color: gray;
    font-size: 2rem;
}

.filters {
    display: flex;
    flex-flow: column;
    padding: 2em 1em;
    background: rgb(231, 233, 235);
    color: gray;
    width: 20%;
    max-width: 30%;
}

.filters-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 1em;
}

.article-tracks {
    margin: 0;
    margin-bottom: 1em;
    font-size: .65rem;
}

.dates-flex {
    display: flex;
    flex-flow: column nowrap;
    font-size: .65rem;
}

.art-container {
    display: flex;
    flex-flow: column;
}

.art {
    padding: 2em;
}

.art-title {
    color: rgb(0, 63, 92);
    font-weight: bold;
    font-size: 2.5rem;
}

.art-title::first-letter {
    text-transform: capitalize;
}

.art-author {
    color: rgb(0, 63, 92);
    font-size: 1.7rem;
}

.art-description {
    margin-top: 2em;
    font-size: 1.5rem;
}

.art-description-text {
    font-size: 1.25rem;
}

.art-time {
    color: lightslategray;
}

.questions {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.questions-h2 {
    color: rgb(0, 63, 92);
    text-transform:none;
    text-align: center;
    margin: 0;
}

.question-login {
    text-align: center;
}

.question-input {
    text-align: center;
    width: 100%;
    width: 100%;
    height: 100%;
    max-width: 550px;
    max-height: 250px;
    margin-bottom: 2em;
}

.question {
    background:rgb(0, 63, 92);
    color: white;
    text-align: center;
    padding: 1em;
    width: 100%;
    height: 100%;
    max-width: 550px;
    max-height: 250px;
    margin-bottom: 2em;
    border-radius: 25px;
}